*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body{ 
  position: relative;
  margin: 0 auto;
  max-width: 128rem;
}

main {
  width: 1000px;
  margin: auto;
}

h1{
  text-align: center;
  margin-bottom: 20px;
}
.keyboard {
  display: grid;
  grid-row-gap: 8px;
  padding: 8px;
  background: #c4d9f8;
}

.keyboard__row {
  display: grid;
  grid-gap: 8px;
  height: 46px;
}

.keyboard__key {
  display: flex;
  cursor: pointer;
  border-radius: 2px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(15, 15, 15);
  transition: all .1s ease;
}

[data-fn="false"] {
  color: aqua;
}

[data-fn="false"].active {
  box-shadow: inset 0px 1px 2px 1px rgba(163, 191, 252, 0.9), inset 0 0 20px 2em rgba(126, 133, 235, 0.2);
}

[data-fn="true"].active {
  box-shadow: inset 0px 1px 2px 1px rgba(163, 191, 252, 0.9), inset 0 0 20px 2em rgba(126, 133, 235, 0.2);
}

[data-fn="false"].active .letter,
[data-fn="true"].active .letter {
  transform: translateY(1px)  ;
  color: #0e4b7e;
}

[data-fn="true"] {
  background: rgb(55, 69, 75);
  color: white;
}

[data-fn="true"] > .letter {
  font-size: 16px;
}

[data-code="CapsLock"] {
  width: 80px;
}

[data-code="ShiftLeft"] {
  width: 110px;
}

[data-code="ShiftRight"] {
  width: 110px;
}

[data-code="Enter"] {
  width: 90px;
}

[data-code="Tab"] {
  width: 70px;
}

[data-code="ControlLeft"] {
  width: 60px;
}

[data-code="ControlRight"] {
  width: 60px;
}

[data-code="Backspace"] {
  width: 120px;
}

[data-code="Space"] {
  width: 450px;
}

[data-code="AltLeft"],
[data-code="AltRight"] {
  width: 70px;
}

[data-code="ArrowLeft"],
[data-code="ArrowUp"],
[data-code="ArrowDown"],
[data-code="ArrowRight"] {
  background: rgb(39, 29, 75);
}


.active {
  background: rgb(109, 109, 109);
}

.letter {
  font-size: 25px;
  width: 100%;
  text-align: center;
  transition: all .2s ease;
  transform: translateX(0);
  transform-origin: center;
}

textarea {
  width: 96%;
  height: 200px;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 20px;
}

.sub {
  width: 100%;
  color: #68688a;
  text-align: left;
  padding-left: 10px;
  transition: all .2s ease;
}

.sub.sub-active:not(:empty) {
  color: rgb(19, 80, 0);
  font-size: 23px;
}

.sub.sub-active:not(:empty) ~ .letter.sub-inactive {
  color: #68688a;
  font-size: 16px;
  text-align: center;
  padding-right: 10px;
  width: 50%;
  transform-origin: center;
  transform: translateX(20px);
}

@keyframes fadeInOut {
  0% {
    opacity: 0.5;
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
}
  50% {
    opacity: 1;
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
}
  100% {
    opacity: 0;
    transform: scale(2.5);
    -webkit-transform: scale(2.5);
    -moz-transform: scale(2.5);
    -ms-transform: scale(2.5);
    -o-transform: scale(2.5);
}
}